* {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

body {
    font-family: 'Kulim Park', sans-serif;
    font-size: 20px;
    background-color: #F5F5F5;
}

header {
    position: fixed;
    background-color: #280f44;
    height: 55px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    opacity: 0.9;
    z-index: 3;
}

#header-images {
    display: flex;
}

#modes {
    background-image: url('../src/images/Sun.png');
    background-size: cover;
    width: 50px;
    height: 50px;
}

#symetra-logo {
    background-image: url('../src/images/symetra-logo.png');
    background-size: cover;
    width: 50px;
    height: 50px;
}

#modes:hover,
#symetra-logo:hover {
    opacity: 0.8;
    cursor: pointer;
}

#modes:hover {
    background-image: url('../src/images/SunFull.png');
}

nav {
    display: flex;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li,
nav ul li a {
    display: flex;
    width: 150px;
    justify-content: center;
    align-items: center;
    height: 55px;
    text-decoration: none;
    color: #fff;
}

nav ul li a:hover {
    background-color: #1b052b;
}

#apresentacao {
    display: flex;
    width: 100%;
    height: 450px;
    background-image: url(../src/images/Background-Inicio.jpg);
    background-size: cover;
    align-items: center;
}

#bloco-texto {
    background-color: #EFEFEF;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 220px;
    margin: 0px 50px;
    border-radius: 30px;
}

#titulo-apresentacao {
    display: flex;
    height: 60px;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}

#texto-apresentacao {
    height: 60px;
    display: flex;
    margin: 20px 40px;
    align-items: center;
    justify-content: center;
}

#botao-nossos-projetos {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#botao-nossos-projetos button {
    width: 340px;
    height: 40px;
    text-align: center;
    background-color: #280f44;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    color: #fff;
}

#botao-nossos-projetos button:hover {
    opacity: 0.9;
    cursor: pointer;
}

#content-inicio {
    font-weight: 300;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    min-height: 350px;
}

#imagem-inicio {
    background-image: url(../src/images/rapaz-inicio.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 305px;
    height: 225px;
}

#texto-inicio {
    display: flex;
    align-items: center;
    width: 600px;
    height: 300px;
}

#break-section {
    background-image: url(../src/images/break-section.png);
    background-size: cover;
    height: 350px;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

#break-section-subtitle {
    color: #D7A9EF;
    display: flex;
    height: 80px;
    align-items: center;
    font-weight: bold;
}

#break-section-title {
    color: white;
    height: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 50px;
    letter-spacing: 1px;
    line-height: 50px;
}

#valores-empresa {
    display: flex;
    width: 100%;
    min-height: 500px;
    max-height: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.bloco-valores {
    width: 450px;
    margin: 10px 30px;
    text-align: center;
}

.titulo-valores {
    color: #670DA7;
    font-size: 25px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.titulo-valores img {
    width: 40px;
    margin: 0px 20px;
}

.valores-content {
    font-weight: 300;
}

#equipe {
    min-height: 600px;
}

#titulo-equipe {
    font-size: 35px;
    color: #540F85;
    text-align: center;
}

#subtitulo-equipe {
    text-align: center;
    font-size: 25px;
    font-weight: 500;
}

#carousel-equipe {
    display: flex;
    height: 350px;
    align-items: center;
    overflow-x: auto;
}

#carousel-equipe::-webkit-scrollbar {
    width: 12px;
}

#carousel-equipe::-webkit-scrollbar-track {
   background: #A759D0;
}

#carousel-equipe::-webkit-scrollbar-thumb {
    background-color: #f4f4f4;
    border-radius: 20px;
    border: 3px solid #A759D0;
}

.card-integrante {
    min-width: 250px;
    min-height: 300px;
    max-width: 250px;
    max-height: 300px;
    margin: 0 30px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: #540F85 2px solid;
    border-radius: 10%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.card-integrante:hover {
    cursor: pointer;
}

.card-integrante:hover>.integrante-info {
    height: 70px;
    visibility: visible;
    display: flex;
}

#felipe {
    background-image: url('../src/images/felipe.jpg');
}

#sophia {
    background-image: url('../src/images/sophia.jpeg');
}

#thomas {
    background-image: url('../src/images/thomas.jpg');
}

.integrante-titulo p {
    background-color: #540F85;
    color: #fff;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #540F85 2px solid;
    border-radius: 25px 25px 0 0;
}

.integrante-info {
    background-color: #f4f4f4;
    height: 0px;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.5s;
    flex-direction: column;
    visibility: hidden;
    display: flex;
    overflow: hidden;
}

.integrante-info img {
    width: 30px;
}
#equipe .sobre-nos-container{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 50px 0;
}
#equipe .sobre-nos{
    width: 80vw;
    text-align: justify;
    font-weight: 300;
}
#nossos-projetos{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nossos-projetos-container{
    background-color: #e8e8e8;
    min-height: 500px;
    border: #A759D0 solid 2px;
    display: flex;
    width: 99vw;
}
#nossos-projetos .imagem-notebook{
    background-image: url(../src/images/notebook.png);
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 400px;
    background-repeat: no-repeat;
}
.nossos-projetos-content{
    display: flex;
    flex-direction: column;
    width: calc(100% - 400px);
    padding-bottom: 20px;
}
.nossos-projetos-content h2{
    display: flex;
    color: #540F85;
    height: 90px;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.group-projetos{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    height: 70%;
}
#animal-point{
    background-image: url(../src/images/animal-point.png);
}
#preparetec{
    background-image: url(../src/images/preparetec.png);
}
.group-projetos .card-projetos{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 280px;
    width: 280px;
    background-position: center;
    background-size: cover;
    margin: 10px;
    border: 2px solid #670DA7;
}

@media(max-width: 1000px){
    .nossos-projetos-container{
        min-width: 400px;
        max-width: 400px;
        flex-direction: column;
    }
    .nossos-projetos-content h2{
        width: 400px;
    }
    .group-projetos{
        flex-direction: column;
        align-items: center;
        width: 400px;
    }
}
@media(max-width: 500px){
    .nossos-projetos-container{
        min-width: 300px;
        max-width: 300px;
        flex-direction: column;
    }
    .nossos-projetos-content h2{
        width: 300px;
    }
    #nossos-projetos .imagem-notebook{
        background-image: url(../src/images/notebook.png);
        background-size: cover;
        background-position: center;
        height: 500px;
        width: 300px;
        background-repeat: no-repeat;
    }
    .group-projetos{
        flex-direction: column;
        align-items: center;
        width: 300px;
    }
}